{% extends "admin.html" %}

{% block content %}

<br>
<h2>Add Driver</h2>
<!-- empty form for add driver -->

<table class="table caption-top">
    <form method="POST" action="{{ url_for('adddriver') }}">
        <tr>
            <td>
                <label for="driver_id">Driver ID:</label>
            </td>
            <td>
                <input type="text" name="driver_id" required>
            </td>
        </tr>
        <tr>
            <td>
                <label for="first_name">First Name:</label>
            </td>
            <td>
                <input type="text" name="first_name" required>
            </td>
        </tr>
        <tr>
            <td>
                <label for="surname">Surname:</label>
            </td>
            <td>
                <input type="text" name="surname" required>
            </td>
        </tr>

        <!-- if age_confirmation is yes, this part will be shown -->
        {% if age_confirmation == "yes" %}
        <tr>
            <td>
                <label for="date_of_birth">Date of Birth:</label>
            </td>
            <td>
                <input type="text" name="date_of_birth" required>
            </td>
        </tr>
        <tr>
            <td>
                <label for="age">Age:</label>
            </td>
            <td>
                <input type="text" name="age" required>
            </td>
        </tr>
        <tr>
            <td>
                <label for="caregiver">Caregiver:</label>
            </td>
            <td>
                <input type="text" name="caregiver" required>
            </td>
        </tr>
        {% endif %}
        <!-- part end -->

        <tr>
            <td>
                <label for="car">Car:</label>
            </td>
            <td>
                <select name="car" required>
                    <option value="11">11</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="20">20</option>
                    <option value="22">22</option>
                    <option value="31">31</option>
                    <option value="36">36</option>
                    <option value="44">44</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">
                <button class="btn btn-primary" type="submit">Add</button>
            </td>
        </tr>
    </form>
</table>



{% endblock %}