{% extends "admin.html" %}

{% block content %}


<!-- Amind Page -->


<br>
<h2>Edit Runs For Your Course.</h2>
<br>


<!-- This form also a table display as a form for user to edit. . -->
<form method="POST" action="/editrun_course" enctype="multipart/form-data">
    <!-- drive id ,  course result, run number will be disabled to edit-->
    <tabble>
        <tr>
            <tb><label for="driverID"> Driver ID </lable> </tb>
            <tb><input  value={{course_result[0][0]}}  type="text" id="driverID" name="driverID" disabled></tb>

            <tb><label for="courseID"> course ID </lable> </tb>
            <tb><input  value={{course_result[0][1]}}  type="text" id="courseID" name="courseID" disabled ></tb>

            <tb><label for="runNumber"> Run Number </lable></tb>  
            <tb><input  value={{course_result[0][2]}}  type="text" id="runNumber" name="runNumber" disabled></tb>

        <!-- user can put new data for seconds, cons, wrong directon -->

           <tb><label for="Seconds"> Seconds </lable> </tb>
           <tb><input  value={{course_result[0][3]}}  type="text" id="Seconds" name="Seconds"></tb>


            <tb><label for="Cones"> Cones</lable> </tb>
            <tb><input  value={{course_result[0][4]}}  type="text" id="Cones" name="Cones"></tb>


            <tb><label for="WD"> Wrong Direction </lable> 
            <tb><input  value={{course_result[0][5]}} type="number"   id="WD" name="WD" ></tb>
        </tr>
    </tabble>

        <!--hidden value from html but pass to form submit-->
        <input  value={{course_result[0][0]}}  type="hidden" id="driverid" name="driverid" > <br>
       
        <input  value={{course_result[0][1]}}  type="hidden" id="courseid" name="courseid"  > <br>
       
        <input  value={{course_result[0][2]}}  type="hidden" id="run_number" name="run_number" > <br>

        <input   type="Submit" >
</form>
<!-- table end -->

{% endblock %}