{% extends "base.html" %}

{% block content %}

<br>
<h2>All Drivers Overall Results</h2>
<br>
<table class="table caption-top">
    <br>
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">DriverName</th>
        <th scope="col">Car</th>
        <th scope="col">CourseA</th>
        <th scope="col">CourseB</th>
        <th scope="col">CourseC</th>
        <th scope="col">CourseD</th>
        <th scope="col">CourseE</th>
        <th scope="col">CourseF</th>
        <th scope="col">Overall</th>
        <th scope="col"> </th>
      </tr>
    </thead>
    <tbody>
        {% for detail in overallList %}
        <tr>
            {% for column in detail %}
                <td>{{ column }}</td>
            {% endfor %}
            <td>
                {% if loop.index == 1 %}
                    Cup
                {% elif 2 <= loop.index <=5  %}
                    Prize
                {% else %}
                    
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>

{% endblock %}